<!-- Small boxes (Stat box) -->
<div class="row">
    <div class="col-lg-4 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-aqua">
            <div class="inner">
                <h4>Amazing Staffs</h4>
                <br />
                <br />
                <br />
            </div>
            <div class="icon">
                <i class="fa fa-user-secret"></i>
            </div>
            <a href="@Url.Action("Manage", "Staff")" class="small-box-footer">Manage &nbsp;<i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-4 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
            <div class="inner">
                <h4>Awesome Participants</h4>
                <br />
                <br />
                <br />
            </div>
            <div class="icon">
                <i class="fa fa-user"></i>
            </div>
            <a href="@Url.Action("Manage", "Participant")" class="small-box-footer">Manage &nbsp;<i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
</div>

<div class="row">
    <!-- ./col -->
    <div class="col-lg-4 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
            <div class="inner">
                <h4>The Amazing Race</h4>
                <br />
                <br />
                <br />
            </div>
            <div class="icon">
                <i class="fa fa-map"></i>
            </div>
            <a href="@Url.Action("Manage", "RaceEvent")" class="small-box-footer">Manage &nbsp;<i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-4 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-red">
            <div class="inner">
                <h4>Challenging Pit Stop</h4>
                <br />
                <br />
                <br />
            </div>
            <div class="icon">
                <i class="fa fa-flag-checkered"></i>
            </div>
            <a href="@Url.Action("Manage", "PitStop")" class="small-box-footer">Manage &nbsp;<i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
</div>

<div class="row">
    <!-- ./col -->
    <div class="col-lg-4 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-teal">
            <div class="inner">
                <h4>Fantastic Teams</h4>
                <br />
                <br />
                <br />
            </div>
            <div class="icon">
                <i class="fa fa-users"></i>
            </div>
            <a href="@Url.Action("Manage", "Team")" class="small-box-footer">Manage &nbsp;<i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-4 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-orange">
            <div class="inner">
                <h4>Manage Account</h4>
                <br />
                <br />
                <br />
            </div>
            <div class="icon">
                <i class="fa fa-cogs"></i>
            </div>
            <a href="@Url.Action("ManageAccount", "User")" class="small-box-footer">Manage &nbsp;<i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
</div>
