@model IEnumerable<TheAmazingRace.Models.PitStop>

@{
    ViewBag.Title = "Pit Stop Management";
}

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <!-- /.box-header -->
            <div class="box-body">
                <p>
                    <a href="@Url.Action("Create", "PitStop")" class="btn btn-primary">Create New</a>
                </p>
                <table id="data-table" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.PitStopName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ChallengeDescription)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Address)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PostalCode)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CreatedOn)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CreatedBy)
                            </th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            var row_id = "row-" + item.Id;

                            <tr id="@row_id">
                                <td>
                                    @Html.DisplayFor(modelItem => item.PitStopName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ChallengeDescription)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Address)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PostalCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreatedOn)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreatedBy.Name)
                                </td>
                                <td>
                                    <a href="@Url.Action("Edit", "PitStop", new { id = item.Id })" class="btn btn-warning"><i class="fa fa-edit"></i> <span>Edit</span></a> &nbsp;
                                    <a onclick="deletePitStop('@row_id', '@item.PitStopName')" class="btn btn-danger"><i class="fa fa-times"></i> <span>Delete</span></a>
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('#data-table').DataTable()
    })

    function deletePitStop(rowId, pitStopName) {
        var id = rowId.split("-")[1];
        var res = confirm("Do you want to delete " + pitStopName + "?");
        if (res == true) {
            var payload = {
                id: id
            };

            $.ajax({
                type: "POST",
                url: "/Admin/PitStop/Delete",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(payload)
            }).always(function (data) {
                if (data.status == 200) {
                    $('#data-table').DataTable().row("#" + rowId).remove().draw();
                } else {
                    alert("An error has occured. Please try again later!");
                }
            })
        };
    }
</script>
